
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<div>
    <div>
        @Html.Sitecore().Field("title")
    </div>

    <div>
        @Html.Sitecore().Field("description")
    </div>
</div>                    
